body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(145deg, #2a2a72, #009ffd);
    color: #333;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 730px;
    width: 100%; /* or omit this, default is 100% of parent */
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    animation: fadeIn 1s ease-in-out;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative;
    flex: 1;
    max-height: 100%;
    overflow: auto; /* Ensure the content is scrollable */

    outline: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1); /* glowing shadow */

    h1 {
        text-align: center;
        color: #2c3e50;
        font-size: 2em;
        margin-bottom: 10px;
    }
}

.search-generator {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Optional: adds spacing between elements */

    .search-generator__input {
        resize: none;
    }

    .btn {
        width: fit-content;      /* Shrinks to fit the button's content */
        padding: 8px 16px;       /* Optional: adjust spacing inside the button */
        align-self: center;  /* Aligns button to the left within the column */
    }
}

.keyword {
    background-color: #f1c40f;
    padding: 2px 6px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    font-weight: bold;
}

.search-generator__output {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}